
<div class="container">
	<% if flash[:alert]%>
	<div class="alert"><%=flash[:alert]%></div>
	<%end%>
	<div class="welcome">
		Welcome to Double or Donate
	</div>
	<div class="instructions" >
			This is a real-time trivia game in which you click on the correct answer faster than your opponent. If you are wrong, you get to double the current bet to continue playing or donate to exit out of the current game. All money earned is sent to the winner's charity of choice. Please remember this is all about the spirit of giving and not some game to show that you know more stuff. As everything is said let's ...

	</div>

	<%=image_tag src="dod.jpg", class: "dod"%>

	<div class="links">
		Login or Register To Start Playing
	</div>

</div>