<div class="aboutlog"> <%= image_tag ("dod2.png") %></div>

<div class="container">



  <div class="blog-header">
    <h3 class="header3">About Us</h3>

    <p class="about1">  Double Or Donate is a community of people who love to help different charities. Our goal is to have fun playing trivia games but also influence others to
      help those in need around the world. As a team, we are committed to support those in need and bring world class value to the community we serve.</p>

  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">
      <div class="why-us">
        <hr>


        <h3 class="header3">Our Story</h3>
        <p class="about">  Founded in August 2015, Mostly Serious began with an overarching goal in mind: Build a company brilliant people would want to join and great clients would want to hire. Because our work gets showcased on a global podium, prospective clients—from staple brands to upstarts—hit us up for proposals. Because we're straightforward, honest, and transparent in all we do, surpassing client expectations is the norm.

          Most crucial of all, our success stems from the fact that we insist on hiring skilled professionals who love to learn, grow, and break through so-called barriers. Working beside people who are dedicated to one another and share unabashedly lofty dreams pushes each of us to new high after new high.</p>

        <br>
        <hr>
        <h3 class="header3">So why us?</h3>

        <p class="about">With this site, we want to be as transparent as possible with everything we do online.
          our businesses, our strategies and our support for other..
          <strong>If you’re love and believe in helping others then this is the site for you.Both our wins and our losses – can help you reach your goals of helping your own charity.
            see what’s involved and make decisions on your own without having to pay someone and win money for what you believe in.</strong>
          I hope you stick around and join us</p>

      </div>
    </div><!-- /.blog-post -->



  </div><!-- /.blog-main -->
</div><!-- /.row -->

</div><!-- /.container -->
