/*
*=require_tree .
*=require_self
*/


.innersplash{
    background: url("liberty.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size:cover;

}

/*header of the page*/
.maint{
    text-align: center;
    font-size: 55px;
    margin-bottom:80px;
    color:#ffffff;
    background:black;
}

/*conflict one*/
body{
    background: url("smartb9.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header2{
    color:black;
}

.mainp{
   font-family: Helvetica;
    font-size: 15px;
    color:black;
    background-color: white;

}
.f18{
    font-size: 20px;
}

.f60{
   font-size: 40px;
}

/** controls the navbar size with div  application.html.erb:*/
#control-nav{
    width: 1110px;
    margin:0 auto;
    background-color: #9F4F00;
    box-shadow: 2px 1px 2px 1px #2E2F30;

}

.word-c{
    color:white;
    float: right;
}

.logos{
    border-radius: 80%;
}

/* controlls container with the 3 circles*/
.marketing{
    padding-top: 70px;
    padding-right: 220px;

}

/*signin on the navbar*/
#signin{
  padding: 10px 10px 0 0;
  color: #5cb85c;
  font-family: monospace;
}


/**controls images application.html.erb: */
.centro {
    width: 100%;
}

.footer{
    text-align: center;
}
/*application.html.erb: controls the inner white-background*/
.innersplash{
    background-color: white;
    overflow: hidden;
    /*height: 100%;*/
    padding: 100px;
    width: 1100px;
    margin: 0 auto;
    box-shadow: 3px 1px 3px 1px #2E2F30;
}

.charlogo{
    /*text-align: center;*/
}

.audio{
    /*float: right;*/
    text-align: center;
}


.footer{
    float:right;
}

.whyus{
    text-align: center;
    color:darkred;
    background-color:white ;
    margin:40px;

}

.parag{
    background-color: black;
    color:#9F4F00;
}
/*logo on charity of dod*/
.charlogo{
    text-align: center;
    margin-bottom: 20px;
}
/*header in charity page*/
.charity{
    text-align: center;
    font-family:"Monaco", "Inconsolata", "Consolas", monospace;
    font-size: 70px;
    /*padding-bottom: 80px;*/
    background-color: black;
    color: whitesmoke;
    margin: 30px;
}

.name{
 text-align: center;
    background-color: black;
    border: 3px solid #2E2F30;
    color:#9F4F00;
    margin: 0 auto;
    font-size: 50px;
    background-size:cover;

}
/*text in charity page*/
.added{
    text-align: center;
    font-size: 30px;
    color:white;
    background: #5cb85c;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 453px;
}
/*about page  logo */
.aboutlog{
    text-align: center;
margin-bottom: 20px;
}

.about {
    font-family: Helvetica;
    font-size: 20px;
    background-color: white;

}
.about1{
    font-family: Helvetica;
    width:750px;
    height: 122px;
    font-size: 20px;
    background-color: white;
}
/*about us page*/
.header3{
    font-size: 40px;
    margin-bottom: 10px;

}

