/*
*=require_tree .
*=require_self
*/

/*conflict one*/
body{
    /*background-color: #a7a7a7;*/
    background-image: url("smartback.png");
}

/** controls the navbar size with div  application.html.erb:*/
#control-nav{
    width: 1110px;
    margin:0 auto;
    background-color: #9F4F00;
    box-shadow: 2px 1px 2px 1px #2E2F30;
}

.word-c{
    color:white;

    float: right;
}

/**controls images application.html.erb: */
.centro {
    width: 100%;
}



/*application.html.erb: controls the inner white-background*/
.innersplash{
    background-color: white;
    overflow: hidden;
    height: 100%;
    padding: 100px;
    width: 1100px;
    margin: 0 auto;
    box-shadow: 5px 1px 5px 1px #2E2F30;
}

