// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{

	display: none;
	text-align:center;
	font: 20px;
}
.instructions {
    display: none;
    text-align:center;
    font: 20px;
}

.dod{
	display: none;
	margin-left:27%;

}

.links{
	display: none;
	text-align:center;
    font: 20px;

}


.room{
border: 1px solid black;
text-align:center;
	
}

.question{
	border: 1px solid black;
	text-align:center;
	font: 30px;
	height: 200px;
}

.answer{
	border: 1px solid black;
	text-align:center;
	font: 30px;
	height:200px;
}
.players{
	margin: auto;
	text-align: center;
}

.players .p1, .p2{
	display: inline-block;
	border: 1px solid black;
	text-align:center;
	font: 30px;
	height: 100px;
	width: 100px;
}

#dummy-btn{
	position:absolute;
	width:1px;
	height:1px;
	left:-1000px;

}